.pre{
	position: relative;
	height: 210px;
	margin-bottom: 10px;
	border-radius: 2px;
	border: 1px solid #ececec;
}
.content {
	overflow: hidden;
	height: 142px;
}
.pre:hover {
	box-shadow: 0 0 5px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 5px 2px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
}
.pre h1 {
	font-weight: 500;
	font-size: 24px;
	color: #186574;
	font-weight: normal;
	padding-left: 85px;
	margin-bottom: 10px;
	border-bottom: 2px chocolate solid;
	overflow: hidden;
}
span a {
	position: absolute;
	top: 3px;
	left: -15px;
	background: url(../img/bg_cat.png) no-repeat;
	color: whitesmoke;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: large;
	font-weight: 300;
	text-align: center;
	padding-top: 6px;
	vertical-align: baseline;
	width: 80px;
	height: 40px;
}
.imga {
	float: left;
	display: block;
	padding-left: 8px;
}
.content p {	
	color: #2b2b2b;
	padding: 0 10px;
	font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1",tahoma,arial,simsun,"\5B8B\4F53";
	font-size: 15px;
	font-weight: 400;
}
.share {
	position: absolute;
	right: 110px;
	bottom: 2px;
	color: black;
	font-weight: 500;
	font-size: small;
	margin-bottom: 4px;
	width: 120px;
}
.share span {
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: -1px;
	padding: 2px;
	font-size: 16px;	
}
.share span:hover {
	cursor: pointer;	
	font-size: 18px;
	padding: 1px;
}
.read {
	position: absolute;
	right: 20px;
	bottom: 2px;
	color: blueviolet;
	font-weight: 500;
	font-size: small;
	margin-bottom: 4px;
	width: 90px;
}
.read span {
	float: left;
	margin-right: 6px;
	font-size: 1.15em;
	color: black;
}


